<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>增加用户</title>
</head>
<body>
    
    <h2>增加用户</h2>

    <form action="/doAdd" method="POST">
        
        用户名: <input type="text" name="username">
        <br/>
        <br/>
        年 龄:　<input type="number" name="age">
        <br/>
        <br/>
        性 别:　<input type="text" name="sex">
        <br/>
        <br/>
        <input type="submit" value="提交">
        
    </form>

</body>
</html>