<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koa+MongoDB项目实战</title>

    <link rel="stylesheet" href="css/base.css">
</head>

<body>

    <table class="table">

        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>

        {{each userList.result}}
        <tr>
            <th>{{$value.username}}</th>
            <th>{{$value.age}}</th>
            <th>{{$value.sex}}</th>
            <th><a href="/edit?id={{@$value._id}}">编辑</a>　<a href="/delete?id={{@$value._id}}">删除</a></th> <!--注意:这里的 @ 符号用来解析html, 把id的引号去掉 -->
        </tr>
        {{/each}}

    </table>

    <br /><br />

    <a href="/add">增加用户</a>

</body>

</html>